

<body background="https://www.jpl.nasa.gov/assets/images/content/tmp/home/missions_bg_image.jpg" id="board">

  <div id="scoreboard">
      <span id="live_score">  </span> 
      <span id="show_lives">  </span>
      <span id="high_score">  </span>
  </div>

  <div id="end_game_display">
    <form id="final_form" action= "/high_score" method="post">
      <%= csrf_meta_tags %>
      <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
      <span id="user_score">  </span> <br>
      <input id="score" name="high_score[score]" type="hidden" value="0"></input>
      Choose a Username: <input type="text" id="user" name="high_score[user]"><br>
      <button type="submit" class="save_button" id="save_button">Submit</button>
      <button onclick="reload()" class="restart_button" id="restart_button">Restart</button>
      <br>
    </form>
  </div>

  <div id="initiate_button">
    <button onclick="initiateGame()" class="start_button"> Start Game </button>
    <br>
  </div>
  <button onclick="toggleSound()" class="toggle_sound_class" id="toggle_sound_button"> Turn Sound Off </button>
  <br>
  <br>
  <br>
  <div id="top_10_button">
    <button onclick="toggleTopTen()" class="toggle_top_scores_button"> Top 10 scores </button>
  </div>

  <div id="show_top_ten_list">
    <ol>
    <%@top_10.each do |record|%>
      <li><%= record.user + "-" + (record.score).to_s %></li>
      <br>
    <% end %>

    <ol>
  </div>

</body>
