body, html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: 'Epson Pixeled Regular', normal, normal;
  border: 10px solid darkslateblue;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Epson Pixeled Regular';
  font-style: normal;
  font-weight: normal;
  src: local('assets/fonts/Epson Pixeled Regular'), url('assets/fonts/Epson Pixeled.woff') format('woff');
  }

#starfield {
  background-attachment: fixed;
  background-size: cover;
}

#scoreboard {
  height: 50px;    
  width: 100%;
  font-size: 12px;
  line-height: 50px;
  text-align: left;
  color: white;
  display: inline-block;
  float: left;
  padding-left: 100px;
}

#high_score {
  padding-left: 50px;
}
#show_lives {
  padding-left: 50px;
}

#final_form {
  height: auto;    
  width: 35%;
  font-size: 12px;
  line-height: 50px;
  text-align: center;
  color: white;
  display: inline-block;
  background-color: darkslateblue;
  border: 2px solid lime;
  margin-left: 32.5%;
  margin-right: 32.5%;
  z-index: 1;
}

button.save_button {
  background-color: lime;
  color: black;
  border: 3px solid white;
  font-family: 'Epson Pixeled Regular', normal, normal;
  font-weight: bold;
}
button.save_button:hover {
  background-color: darkslategray;
  color: white;
}

button.restart_button {
  background-color: lime;
  color: black;
  border: 3px solid white;
  font-family: 'Epson Pixeled Regular', normal, normal;
  font-weight: bold;
}
button.restart_button:hover {
  background-color: darkslategray;
  color: white;
}

div#initial_buttons {
  
}

div#end_game_display {
  visibility: hidden;
}

button.start_button {
  background-color: lime;
  color: black;
  border: 3px solid white;
  font-family: 'Epson Pixeled Regular', normal, normal;
  font-weight: bold;
  font-size: 18px;
  width: 20%;
  margin-left: 40%;
  margin-right: 40%;
  height: 10%;
  margin-top: -7%;
  margin-bottom: 2%;
}
button.start_button:hover {
  background-color: darkslategray;
  color: white;
}

button.toggle_sound_class{
  background-color: lime;
  color: black;
  border: 3px solid white;
  font-family: 'Epson Pixeled Regular', normal, normal;
  font-weight: bold;
  font-size: 18px;
  width: 20%;
  margin-left: 40%;
  margin-right: 40%;
  height: 10%;
}

button.toggle_sound_class:hover {
  background-color: darkslategray;
  color: white;
}

button.toggle_top_scores_button {
  background-color: lime;
  color: black;
  border: 3px solid white;
  font-family: 'Epson Pixeled Regular', normal, normal;
  font-weight: bold;
  font-size: 18px;
  width: 20%;
  margin-left: 40%;
  margin-right: 40%;
  height: 10%;
}
button.toggle_top_scores_button:hover {
  background-color: darkslategray;
  color: white;
}
div#show_top_ten_list {
  color: white;
  margin-left: 40%;
  display: none;
}